/Materiall/Material/Videos/video_teste05.mp4
/Materiall/Material/testes/teste_gabriel.png
/testecaptura.jpg
/Materiall/Material/Videos/video_teste01.mp4
/Materiall/Material/Videos/video_teste02.mp4
/Materiall/Material/Videos/video_teste03.mp4
/Materiall/Material/Videos/video_teste04.mp4
/Materiall/Material/Videos/video_teste06.MOV
/Materiall/Material/Videos/resultado_video_teste01.avi
/Materiall/Material/Videos/resultado_video_teste02.avi
/Materiall/Material/Videos/resultado_video_teste03.avi
/Materiall/Material/Videos/resultado_video_teste04.avi
/Materiall/Material/Videos/resultado_video_teste05.avi
/Materiall/Material/Videos/resultado_video_teste06.avi
/Materiall/Material/testes/teste01.png
/Materiall/Material/testes/teste02.jpg
/Materiall/Material/testes/teste03.jpg
/Materiall/Material/testes/teste04.jpg
/Materiall/Material/testes/teste05.jpg
/Materiall/Material/testes/teste09.jpg
/Materiall/Material/modelo_04_expressoes.json
/Materiall/Material/modelo_04_expressoes.h5
/Materiall/Material/modelo_03_expressoes.json
/Materiall/Material/modelo_03_expressoes.h5
/Materiall/Material/modelo_02_expressoes.json
/Materiall/Material/modelo_02_expressoes.h5
/Materiall/Material/modelo_01_expressoes.json
/Materiall/Material/modelo_01_expressoes.h5
/captura.jpg
/Materiall/Material/Videos/expressoes.mp4
/Materiall/Material/fer2013.zip
